<div class="language-dropdown">
    <a href="#" class="text-button">
        中文(CN) &#9662;
    </a>
    <div class="dropdown-content">
      <a href="https://xiaohanmu.github.io/about/index">English(EN)</a>
      <a href="/spanish">Español(ES)</a>
    </div>
  </div>
  
  <style>
  .language-dropdown {
    position: relative;
    display: inline-block;
  }
  
  .text-button {
    display: inline-block;
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    border-bottom: 1px solid #000000; /* Underline effect */
    padding: 0;
    line-height: 1;
    cursor: pointer;
  }
  
  .text-button:hover {
    color: #ff0000; /* Change text and underline color on hover */
    border-bottom-color: #ff0000;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .language-dropdown:hover .dropdown-content {
    display: block;
  }
  </style>
  